:root{
    --border-color: #696969;
    --page-color: #00CDCD;
    --titulo-card-color: #1C1C1C;
    --link-color: #66CD00; 
}

/****** NAVBAR *******/
#logo {
    width: 30px;
    height: 30px;
}

.navbar-menu {
    background-color: var(--page-color);
}

.nav-item {
    font-weight: 700;
}

/****** BODY *******/
h1 {
    text-align: center;
}

span {
    font-weight: 700;
}

.ancora {
    position: relative;
    top: -55px;
}

.titulos {
    color: var(--page-color);
}

/****** HOME *******/
.section-home {
    margin-top: 50px;
}

.card-home {
    margin-top: 8px;
    max-width: 100%;
    text-align: justify;
    box-shadow: 0 4px 4px 0 var(--border-color);
    transition: 0.3s;
}

.card-home hr {
    height: 3px;
    color: var(--page-color);
    background-color: var(--page-color);
}

.imagem-perfil {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid var(--page-color);
    background: url(../assets/img/page/paulo.png) no-repeat;  
}

.titulo-home {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 700;
}

.card-home:hover {
    box-shadow: 0 5px 5px 0 var(--page-color);
}

.img-contatos-home {
    filter: grayscale(100%);
}

.img-contatos-home:hover {
    filter: grayscale(0%);
    transition: filter 0.4s ease;
}

.card-contatos-home {
    margin-top: -25px;
}

/****** RESUMO *******/
.section-resumo {
    margin-top: 12px;
}

.card-resumo {
    box-shadow: 0 4px 4px 0 var(--border-color);
    transition: 0.3s;
}

.card-resumo:hover {
    box-shadow: 0 5px 5px 0 var(--page-color);
}

.texto-resumo {
    text-align: justify;
}

/****** HABILIDADES *******/
.card-habilidades {
    box-shadow: 0 4px 4px 0 var(--border-color);
    transition: 0.3s;
}

.img-habilidades {
    padding: 2px;
    margin-left: 4px;
    filter: grayscale(100%);
}

.img-habilidades:hover {
    filter: grayscale(0%);
    transition: filter 0.4s ease;
}

.section-habilidades{
    margin-top: 12px;
}

.card-habilidades:hover {
    box-shadow: 0 5px 5px 0 var(--page-color);
}

/****** PROJETOS *******/
.section-projetos {
    margin-top: 10px; 
}

.section-contato {
    margin-top: 10px;
}

.repositorios-projetos{
    padding: 2px;
}

.card-projetos {
    box-shadow: 0 4px 4px 0 var(--border-color);
    transition: 0.3s;
}

.card-projetos:hover {
    box-shadow: 0 5px 5px 0 var(--page-color);
}

.link-repositorio {
    color: var(--titulo-card-color);
    font-weight: 700;
}

.link-repositorio:hover {
    color: var(--link-color);
    text-decoration: none;
    transition: filter 0.4s ease;
}

.card-grupo1, .card-grupo2 {
    padding: 5px;
}

/****** PROJETOS *******/
.section-projetos {
    margin-top: 10px; 
}

.section-contato {
    margin-top: 10px;
}

.repositorios-projetos{
    padding: 2px;
}

.card-projetos {
    box-shadow: 0 4px 4px 0 var(--border-color);
    transition: 0.3s;
}

.card-projetos:hover {
    box-shadow: 0 5px 5px 0 var(--page-color);
}

.card-grupo1, .card-grupo2 {
    padding: 5px;
}

/****** CONTATO *******/
.card-contatos {
    box-shadow: 0 4px 4px 0 var(--border-color);
    transition: 0.3s;
}

.card-contatos:hover {
    box-shadow: 0 5px 5px 0 var(--page-color);
}

.img-contato {
    padding: 2px;
    margin-left: 4px;
    filter: grayscale(100%);
}

.img-contato:hover {
    filter: grayscale(0%);
    transition: filter 0.4s ease;
}

/****** FOOTER *******/
.section-footer {
    margin-top: 8px;
}