/****** NAVBAR *******/
#logo {
    width: 30px;
    height: 30px;
}

.navbar-menu {
    background-color: #00CDCD;
}

.nav-item {
    font-weight: 700;
}

/****** HOME *******/
h1 {
    text-align: center;
}

span {
    font-weight: 700;
}
.card-home {
    margin-top: 58px;
    max-width: 100%;
    box-shadow: 0 4px 4px 0 #696969;
    transition: 0.3s;
}

.card-home:hover {
    box-shadow: 0 5px 5px 0 #00CDCD;
}

.card-texto-perfil {
    font-size: 15px;
}

.card-img {
    height: 100%;
}

.img-contatos-home {
    filter: grayscale(100%);
}

.img-contatos-home:hover {
    filter: grayscale(0%);
    transition: filter 0.4s ease;
}

.ancora {
    position: relative;
    top: -55px;
}

.titulos {
    color: #00CDCD;
}

/****** SKILLS *******/
.img-skills {
    padding: 2px;
    margin-left: 4px;
    filter: grayscale(100%);
}

.img-skills:hover {
    filter: grayscale(0%);
    transition: filter 0.4s ease;
}

.section-skills {
    margin-top: -15px;
}

.card-skills {
    box-shadow: 0 4px 4px 0 #696969;
    transition: 0.3s;
}

.card-skills:hover {
    box-shadow: 0 5px 5px 0 #00CDCD;
}

/****** PROJETOS *******/
.section-projetos {
    margin-top: 10px; 
}

.section-contato {
    margin-top: 10px;
}

.repositorios-projetos{
    padding: 2px;
}

.card-projetos {
    box-shadow: 0 4px 4px 0 #696969;
    transition: 0.3s;
}

.card-projetos:hover {
    box-shadow: 0 5px 5px 0 #00CDCD;
}

.link-repositorio {
    color: #1C1C1C;
    font-weight: 700;
}

.link-repositorio:hover {
    color: #66CD00;
    text-decoration: none;
    transition: filter 0.4s ease;
}

.texto-footer-projeto {
    font-size: 11px;
    font-weight: 700;
    color: #8470FF;
}

.card-grupo1, .card-grupo2 {
    padding: 5px;
}

/****** PROJETOS *******/
.section-projetos {
    margin-top: 10px; 
}

.section-contato {
    margin-top: 10px;
}

.repositorios-projetos{
    padding: 2px;
}

.card-projetos {
    box-shadow: 0 4px 4px 0 #696969;
    transition: 0.3s;
}

.card-projetos:hover {
    box-shadow: 0 5px 5px 0 #00CDCD;
}

.link-repositorio {
    color: #1C1C1C;
    font-weight: 700;
}

.link-repositorio:hover {
    color: #66CD00;
    text-decoration: none;
    transition: filter 0.4s ease;
}

.texto-footer-projeto {
    font-size: 11px;
    font-weight: 700;
    color: #8470FF;
}

.card-grupo1, .card-grupo2 {
    padding: 5px;
}

/****** CONTATO *******/
.img-contato {
    padding: 2px;
    margin-left: 4px;
    filter: grayscale(100%);
}

.img-contato:hover {
    filter: grayscale(0%);
    transition: filter 0.4s ease;
}